<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1>Recuperar clave de usuario</h1>
        <form (ngSubmit)="recuperarClave()" [formGroup]="resetUsuario">

          <ion-item>
            <ion-label>Correo</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
             <ion-button [disabled]="resetUsuario.invalid" type="submit">Enviar</ion-button>
          </ion-item>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>