
<ion-app>
  <ion-menu contentId="main" menuId="principal">
    <ion-header>
      <ion-toolbar>
        <ion-title>SUB Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-menu-toggle>
        <ion-item>
          <ion-label>Ventas</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item>
          <ion-label>Compras</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item button="true" detail="true"  (click)="logOut()">
          <ion-label>Salir</ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-content>

    
  </ion-menu>
  
    <ion-router-outlet id="main"></ion-router-outlet>

  
</ion-app>
